
body {
    font-family:  Helvetica, Arial, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color:blueviolet;
}
header h1 a {
    padding-left: 50px;
    text-align:left;
    font-weight: bold;
    font-size: 55px;
    color:blueviolet;
    background-color:gold;
    text-decoration: none;
}
header nav a {
    text-decoration: underline;
    color:gold;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style:none;
}
a {
    text-decoration: none;
}
nav {
padding-top: 22px;
}
header nav ul li a{
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
}
div header{
    color:purple;
    float: left;
}
div{
    display: inline-flex;
    bottom:100px;
}
section div{
    height: 800px;
}
section {
    display:flex;
}
section h2 {
    float:right;
    font-size: 58px; 
    flex-wrap: wrap;
    width:30%;
    padding-right: 3px;
    margin: 10px 0 0 300px;
    color:purple;
}
section p{
    display: flex;
    font-size: 16px;
    padding-right: 100px;
    padding-left: 60px;
}
.hero img{
    width:100%;
    height:375px;
}
.run img{
    width: 1077px;
    height: 600px;
    margin-top: 36px;
    margin-right:197px;
    padding: 10px;
    background-color: purple;
}
.text-img {
    height: 40px;
    width: 8px;
    background-color: purple;
    color: gold;
    text-decoration: none;
}
.working  h4 {
    position: relative;
    text-decoration: none;
    bottom: 200px;
    background-color: purple;
    color:gold;
    font-size: 35px;
    width: 200px;
    padding: 5px 5px 25px 14px;
    display: inline-flex;
}
.working h5{
    font-size:15px;
    color: gold;
    bottom: 294px;
    position: relative;
    left: 14px;
}
.random img{
    width: 500px;
    height: 100px;
    position: relative;
    bottom: 109px;
    left: 530px;
    background-color: purple;
    padding: 10px;
}
.random h4{
    position: relative;
    text-decoration: none;
    bottom: 200px;
    top: -164px;
    left: 12px;
    background-color: purple;
    color:gold;
    font-size: 35px;
    width: 200px;
    padding: 5px 5px 25px 14px;
    display: inline-flex;
}
.random h5{
    font-size: 15px;
    color: gold;
    bottom: 144px;
    position: relative;
    left: -192px;
    display: inline-flex;
}
.contact h2{
    position: relative;
    bottom: 155px;
    margin-right:55px;
}
.contact a{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-decoration: underline;
    margin: 0 25px;
    font-size: 28px;
    color:purple;
    position:relative;
    bottom:100px;
    right:200px;
}